{% extends 'index1.html' %}

{% block script%}
<script type="text/javascript">
  $(document).ready(function(){
   var account = localStorage.getItem('account');
   var method = localStorage.getItem('method');  
   var today = new Date();
   var hournow = today.getHours();
   var minutesnow = ((today.getMinutes()<10?'0':'') + today.getMinutes());
   var delivery = hournow + 2;
   $('input[id="getfrompharmacy"]').after('Παραλαβή φαρμάκων από το φαρμακείο. Εκτιμώμενη \
    ώρα ολοκλήρωσης παραγγελίας η ώρα '+ delivery + ":" + minutesnow);

   $("#home").click(function(){		
     $("#home").attr("href", "/homepage/"+method+"/"+account);	
   });   
   
   $('.table tbody tr').click(function(event) {
    if (event.target.type !== 'radio') {
      $(':radio', this).trigger('click');
    }
  });

   $('table').on('scroll', function() {
    $("#" + this.id + " > *").width($(this).width() + $(this).scrollLeft());
  });

   $(document).on('click','td',function(){
    $(this).find('input [type="radio"]').prop('checked',true);
    $("#hidden").show();
  });

   $("#profile").click(function(){   
     $("#profile").attr("href", "/profile_edit/"+method+"/"+account); 
   });   
   $("div.desc").hide();
   $("input[name$='optradio']").click(function() {
    var test = $(this).val();      
    $("div.desc").show();
    $("#" + test).hide();

    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
      $('#medicines').selectpicker('mobile');
    }
  });        



   $('input:radio[name="optradio"]').on('change.allChanges',
    function () {      
      $('html, body').animate({
        scrollTop: $(".selectpicker").offset().top
      }, 1500);
    }
    );

 });
//double click to remove select from radio button
 // $(function(){
 //        $('input[name="optradio"]').click(function(){
 //            var $radio = $(this);

 //            // if this was previously checked
 //            if ($radio.data('waschecked') == true)
 //            {
 //                $radio.prop('checked', false);
 //                $radio.data('waschecked', false);
 //                alert("A");
 //            }
 //            else{ alert("b");
 //                $radio.data('waschecked', true);
 //              }

 //            // remove was checked from other radios
 //            $radio.siblings('input[type="radio"]').data('waschecked', false);
 //        });
 //    });


 function isNumber(evt) {
  evt = (evt) ? evt : window.event;
  var charCode = (evt.which) ? evt.which : evt.keyCode;
  if ( (charCode > 31 && charCode < 48) || charCode > 57) {
    alert("Το πεδίο αυτό δέχεται μόνο αριθμούς");
    return false;
  }        
  return true;
}

window.onload = function() {
  var eSelect = document.getElementById('medicines');      
  eSelect.onchange = function() {
    // var value = $( "span .text" ).val();
    var x = $('select').val().toString().split(",");     
    var y = $('select').val().toString().split('€').pop().split(',');     
    $('#table_extra_medicines tbody tr').remove();
    var sum = 0;
    for (i=0; i<x.length; i++){    
      var price = x[i].toString().split('€').pop().split(',');
      var medicine = x[i].toString().split('. €')[0];            
      $("#table_extra_medicines").append("<tr id='extra_medicine'><td>"+medicine+"</td><td id='price"+i+"'>€"+price+"</td><td style='text-align: center;'><div><input min='0' step='1' type='number' id='quantity' onkeypress='return isNumber(event)' value='1' style='text-align:center; width:100px;' onchange='updatetotal();' name='number'></div></td></tr>");   
      var quantity = $('#quantity').val();      
      sum += parseFloat(price);
      sum =Math.round((sum + Number.EPSILON) * 100) / 100;
    }
    $('#table_extra_medicines').append("<tr id='total_sum' style='overfolw:auto;'><td></td><td>Ολικό Ποσό:</td><td id='total_sum'>€"+sum+"</td></tr>")
  }                
}
function updatetotal(){  
  var quantity = $('#quantity').val();
  var i=0;
  var sum = 0;
  $('#total_sum').remove();
  $("#table_extra_medicines tbody tr").each(function () {  
    var quantity = $(this).find('input[id=quantity]').val();
    var price = $('td#price'+i).html().toString().split("€")[1];
    i++;    
    sum += (quantity*price);
    sum =Math.round((sum + Number.EPSILON) * 100) / 100;
  });
  $('#table_extra_medicines').append("<tr id='total_sum' style='overfolw:auto;'><td></td><td>Ολικό Ποσό:</td><td id='total_sum'>€"+sum+"</td></tr>")  
}
</script>
{%endblock%}


{% block profile%}
<li class="nav-item">	
  <a class="nav-link" id="home" href="">Αρχική</a>
</li>
<li class="nav-item">
  <a class="nav-link" id="profile" href="">Προφίλ</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/" id="logout">Αποσύνδεση</a>
</li>
{%endblock%}

{% block title%}
<h2 id="title">Καλωσορίσατε {{ name }}</h2>
{%endblock%}
{% block content%}

<div class="col-md-9"> 
</div>
{%endblock%}




{#
{% block map%}
<div class="container" style="height: 65%;">
  <div class="col-md-12"> 
    {% include 'map.html' %}
  </div>    
</div>
<br>
{%endblock%}
#}




{% block pharmacies%}
<div class="table_outer" id='pharmacies_table'>
  <div class="container" >
    <div class="col-md-12"> 
      <div class="panel panel-primary">
        <div class="panel-heading">ΣΤΟΙΧΕΙΑ ΠΛΗΣΙΕΣΤΕΡΩΝ ΦΑΡΜΑΚΕΙΩΝ</div>

        <!-- Table -->
        <table class="table" id="table_pharmacies">
          <thead>    
            <tr>
              <th scope="col">Distance (km)</th>
              <th scope="col">Ταυτότητα</th>
              <th scope="col">Longitude</th>
              <th scope="col">Latitude</th>
              <th scope="col">Select</th>
            </tr>
          </thead>
          <tbody>
            {% for row in pharmacies %}
            <tr>
              <td>{{row['distance']}}</td>
              <td>{{row['identification_number']}}</td>
              <td>{{row['lat_ph']}}</td>
              <td>{{row['lon_ph']}}</td>
              <td style="text-align: center;">
                <div class="radio">
                 <label>
                  <input type="radio" id="optradio" name="optradio">TIKI
                </label>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<style>
  thead th {
    position:sticky;
    background-color: #F3F3F3;
    color: black;  
    top: 0;
    text-align:center;  
  }
  .panel-heading{
    text-align:center;
    font-size: 25px;
  }
  tbody td{
    text-align:center;
  }
  .table tbody {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
  }

  .table thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  tr:hover { 
    background-color: #E0FFFF;
  }

</style>

{%endblock%}


{%block hidden %}
<div id="threeCarDiv" class="desc">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-12">
        <form role="form">
          <div class="form-group">            
            <label for="selectpicker">Επιλογή επιπρόσθετων φαρμάκων στην παραγγελία: </label><br>
            <select class="form-control selectpicker show-tick" id="medicines" multiple data-size="7" data-live-search="true" title="Επιλογή φαρμάκων" >
              {% for row in med %}
              <option id="medicines_name" style="font-size: 10;" value="{{row['name']}} {{row['packing']}}. €{{row['pricing']}}" data-tokens="{{row['name']}}">{{row['name']}} {{row['packing']}}. Τιμή Προϊόντος: €{{row['pricing']}} </option>                
              {% endfor %}
            </select>
            <figcaption class="figure-caption text-left">
              *Κάποια φάρμακα εξαιρείται η τιμής τους από τον τιμοκατάλογο <a href="http://www.cylaw.org/cgi-bin/sinocgi.pl?title=98%2F2019&searchoption=1&directories=2&hitsnom=20&nexthit=1">(Κανονισμός 4, ΚΔΠ 98/2019)</a>
            </figcaption>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">ΛΙΣΤΑ ΕΠΙΠΡΟΣΘΕΤΩΝ ΦΑΡΜΑΚΩΝ</div>
            <!-- Table -->
            <table class="table" id="table_extra_medicines">
              <thead>    
                <tr>
                  <th scope="col">Ονομασία</th>
                  <th scope="col">Τιμή</th>    
                  <th scope="col">Ποσότητα</th>          
                </tr>
              </thead>
              <tbody>
                {% for row in data %}            
                {% endfor %}
              </tbody>
            </table>            
          </div>          
          <div class="checkbox">
            <label>
              <input type="checkbox"> Αίτηση φαρμάκων με βάση τα στοιχεία μου από το ΓεΣΥ.
            </label>
          </div>
          <hr>
          <h3>ΑΠΟΣΤΟΛΗ / ΠΑΡΑΛΑΒΗ ΦΑΡΜΑΚΩΝ </h3>
          <hr>
          <div class="radio">                
            <label for="getfrompharmacy">
              <input type="radio" id="getfrompharmacy" name="radiomedicines">
            </label> 
          </div>
          <div class="radio">
            <label>
              <input type="radio" id="getfromhome" name="radiomedicines">Αποστολή στην διεύθυνση του σπιτιού μου. Έξοδα αποστολής +2.00€ στην αρχική παραγγελία. <figcaption  class="figure-caption text-left">*Ανάλογα με την απόσταση από το φαρμακείο η τιμή εξόδων αποστολής ενδέχεται να αλλάξει.</figcaption>
            </label>
          </div>
          <button type="submit" class="btn btn-default">Αποστολή αίτησης φαρμάκων στο πλησιέστερο φαρμακεία</button>
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}
