<html>
<head>
  <title>Demo Form</title>
  <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <style type="text/css">
    /* Remove arrows from input number text box */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
    /* ============================================= */    
  </style>
  <script type="text/javascript">
    $(document).ready(function(){
      $('form').on('submit', function(event){
        $.ajax({
          data:{
            name:$("#name").val(),
            surname:$("#surname").val(),
            identification_method:$("#identification_method").val(),
            identification_number:$("#identification_number").val(),
            email:$("#email").val(),
            contact_number:$("#contact_number").val(),
            address:$("#address").val(),
            city:$("#city").val(),
            postal_code:$("#postal_code").val(),
            password:$("#password").val()
          },
          type: 'POST',
          url:'/signup_post',
        })
        .done(function(data){
          if (data.error){
            $('#errorAlert').text(data.error).show();
            $('#successAlert').hide();
            var name=$("#name").val();
            var surname=$("#surname").val();
            var identification_method=$("#identification_method").val();
            var identification_number=$("#identification_number").val();
            var email=$("#email").val();
            var contact_number=$("#contact_number").val();
            var address=$("#address").val();
            var city=$("#city").val();
            var postal_code=$("#postal_code").val();
            var password=$("#password").val();      
            if (name === ""){                          
                  document.getElementById("name").focus();
            } else if (surname === ""){                          
                  document.getElementById("surname").focus();
            }
            else if (identification_method === "0"){                          
                      $('#identification_method').first().focus();
            }
            else if (identification_number === ""){                          
                  document.getElementById("identification_number").focus();
            }
            
            else if (address === ""){                                        
                  document.getElementById("address").focus();
            }
            else if (city === "0"){                                        
              $('#city').first().focus();
            }
            else if (postal_code === ""){                          
                  document.getElementById("postal_code").focus();
            }
            else if (contact_number === ""){                          
                  document.getElementById("contact_number").focus();
            }
            else if (password === ""){                          
                  document.getElementById("password").focus();
            };
          }
          else{
            alert("Καλωσορίσατε: "+data.name);
            // $('#successAlert').text("Καλωσορίσατε: "+data.name).show();
            $('#errorAlert').hide();
            window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "/signup_post";

      }, 1000);
          }
        })
        ;
        event.preventDefault();

      });

    });
function changePriorDistType() {
    menuItem = document.getElementById("identification_method").val();
    alert(menuItem);
    if ( priorCFRDistType == 2 ) {
       var tmpThing = document.getElementById("cfr_1").innerText;
       tmpThing = "Lower bound";
    }
}

function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if ( (charCode > 31 && charCode < 48) || charCode > 57) {
            alert("Το πεδίο αυτό δέχεται μόνο αριθμούς");
            return false;
        }        
        return true;
    }



  </script>

</head>
<body>
  <div class="container"><br>
    <center>
      <h2>Συμπλήρωση στοιχείων για εγγραφή στο σύστημα    </h2>
    </center>
  </div>
  <div class=container"><br>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-4">
        <form  action="" method="post" role="form" id="fm">                    
          <div class="form-group">
            <label for="name">Όνομα:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Ανδρέας" autofocus>
            <br>
            <label for="surname">Επίθετο:</label>
            <input type="text" class="form-control" id="surname" name="surname" placeholder="Ανδρέου">
            <br>
            <label for="identification_method">Ταυτότητα / Διαβατήριο:</label>
            <select class="form-control" id="identification_method" name="identification_method" onchange="changePriorDistType()">
              <option id="identification_method" selected value="0"> </option>
              <option  id="identification_method" name="identification_method" value="1">Αριθμός Ταυτότητας</option>
              <option  id="identification_method" name="identification_method" value="2">Αριθμός Διαβατηρίου</option>
            </select>
            <br>
            <label for="identification_number">Αριθμός Ταυτότητας:</label>
            <input type="text" class="form-control" id="identification_number" name="identification_number" placeholder="123456">
            <br>

            <label for="address">Διεύθυνση:</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Αρχιεπισκόπου Μακαρίου 3">
            <br>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputState">Πόλη</label>
                <select id="city" name="city" class="form-control">
                  <option selected name="city" id="city" value="0">Επιλογή Πόλης</option>
                  <option  name="city" id="city" value="Λευκωσία">Λευκωσία</option>
                  <option  name="city" id="city" value="Λάρνακα">Λάρνακα</option>
                  <option  name="city" id="city" value="Λεμεσός">Λεμεσός</option>
                  <option  name="city" id="city" value="Πάφος">Πάφος</option>
                  <option  name="city" id="city" value="Αμμόχωστος">Αμμόχωστος</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputCity">Τ.Κ</label>
                <input type="number" class="form-control" id="postal_code"  onkeypress="return isNumber(event)" onpaste="return false;" name="postal_code" placeholder="1000">
              </div>
            </div>
            <label for="contact_number">Τηλέφωνο Επικοινωνίας:</label>
            <input type="number" class="form-control" onkeypress="return isNumber(event)" onpaste="return false;" id="contact_number" name="contact_number" placeholder="99123456">
            <br>
            <label for="email">Ηλεκτρονικό Ταχυδρομείο: (όχι υποχρεωτικό)</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="test@test.com"><br>
            <label for="password">Κωδικός Χρήστη:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Εισαγωγή κωδικού.">
            <br>
            <label for="password">Επαλήθευση Κωδικού Χρήστη:</label>
            <input type="password" class="form-control" id="password" name="password" onpaste="return false;" placeholder="Επαλήθευση κωδικού.">
          </div>
          <br>													   
          <center>
            <button type="submit" id="submit" class="btn btn-success">Εγγραφή</button>
          </center>
        </form>        
        
        <div class="alert alert-success" id="successAlert" role="alert" style="display: none">
        </div>
        <div class="alert alert-danger" id="errorAlert" role="alert" style="display: none">
        </div>
        <br>
      </div>
    </div>
  </body>
  </html>